.cntArticleBody .devdocvsbody {
	LINE-HEIGHT: 13px; BACKGROUND-COLOR: #ffffff; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.cntArticleBody DIV#programweb {
	BACKGROUND-COLOR: #ffffff; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px
}
.cntArticleBody DIV#programweb H2 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; MARGIN: 24px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.cntArticleBody DIV#programweb H3 {
	LINE-HEIGHT: 13px; MARGIN-TOP: 1.2em; MARGIN-BOTTOM: 0.5em; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.cntArticleBody DIV#programweb LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.cntArticleBody DIV#programweb A:link {
	COLOR: #0000cc; TEXT-DECORATION: underline
}
.cntArticleBody DIV#programweb A:active {
	COLOR: #0000cc; TEXT-DECORATION: underline
}
.cntArticleBody DIV#programweb A:visited {
	LINE-HEIGHT: 13px; COLOR: #0000cc; TEXT-DECORATION: underline
}
.cntArticleBody DIV#programweb A {
	COLOR: #000000
}
.cntArticleBody DIV#programweb P {
	LINE-HEIGHT: 13px; MARGIN-TOP: 0.6em; MARGIN-BOTTOM: 0.6em
}
.cntArticleBody DIV#programweb OL {
	MARGIN: 0em; FONT-SIZE: 11px
}
.cntArticleBody .cntArticleBody DIV#programweb UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: disc; MARGIN-TOP: 0.5em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 0em; MARGIN-LEFT: 1em; FONT-SIZE: 11px; PADDING-TOP: 0px
}
.cntArticleBody .cntArticleBody DIV#programweb OL UL {
	LIST-STYLE-TYPE: disc; MARGIN-TOP: 0.5em
}
.cntArticleBody DIV#programweb UL UL {
	LIST-STYLE-TYPE: disc; MARGIN-TOP: 0.5em
}
.cntArticleBody DIV#programweb LI {
	DISPLAY: list-item; MARGIN-BOTTOM: 0em; MARGIN-LEFT: 2em
}
.cntArticleBody DIV#programweb CODE {
	TEXT-ALIGN: left; FONT-FAMILY: "Courier New" , Courier, monospace; FONT-SIZE: 13px
}
.cntArticleBody DIV#programweb TABLE {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; MARGIN: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.cntArticleBody DIV#programweb TR {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; VERTICAL-ALIGN: top; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.cntArticleBody DIV#programweb TH {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: left; BORDER-LEFT: medium none; PADDING-BOTTOM: 0em; BACKGROUND-COLOR: #6b82b2; MARGIN: 0em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; COLOR: #ffffff; VERTICAL-ALIGN: bottom; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0em
}
.cntArticleBody DIV#programweb TD {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: left; BORDER-LEFT: medium none; PADDING-BOTTOM: 0em; MARGIN: 0em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; VERTICAL-ALIGN: top; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0em
}
.cntArticleBody DIV#programweb PRE {
	PADDING-BOTTOM: 8px; BACKGROUND-COLOR: #f7f7ff; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-SIZE: 13px; PADDING-TOP: 8px
}
.cntArticleBody DIV#header {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #d4dfff; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.cntArticleBody DIV#header TABLE {
	BORDER-BOTTOM: #c8cdde 0px solid; WIDTH: 100%
}
.cntArticleBody .cntArticleBody DIV#header TD {
	BORDER-BOTTOM: #d4dfff 1px solid; MARGIN: 0.25em; VERTICAL-ALIGN: top
}
.cntArticleBody SPAN#runningHeaderText {
	COLOR: #003399; FONT-SIZE: 100%
}
.cntArticleBody SPAN#nsrTitle {
	COLOR: #003399; FONT-SIZE: 100%; FONT-WEIGHT: 600
}
.cntArticleBody .mainheaders {
	COLOR: #003399; FONT-SIZE: 120%; FONT-WEIGHT: bold
}
.cntArticleBody DIV#vstable TABLE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN-TOP: 5px; WIDTH: 100%; MARGIN-BOTTOM: 5px; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.cntArticleBody DIV#vstable TH {
	BORDER-BOTTOM: #c8cdde 1px solid; TEXT-ALIGN: left; BACKGROUND-COLOR: #efeff7; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #000066
}
.cntArticleBody DIV#vstable TD {
	BORDER-BOTTOM: #d5d5d3 1px solid; BORDER-LEFT: #d5d5d3 0px solid; BACKGROUND-COLOR: #f7f7ff; MARGIN: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.cntArticleBody DIV#vstable PRE {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 2px
}
.cntArticleBody DIV#vstable CODE {
	FONT-FAMILY: Monospace, Courier New, Courier; COLOR: #000066; FONT-SIZE: 13px
}
.cntArticleBody DIV#vstablenote TABLE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN-TOP: 5px; WIDTH: 100%; MARGIN-BOTTOM: 5px; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.cntArticleBody DIV#vstablenote TH {
	BORDER-BOTTOM: #c8cdde 1px solid; TEXT-ALIGN: left; BACKGROUND-COLOR: #efeff7; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #000066
}
.cntArticleBody DIV#vstablenote TD {
	BORDER-BOTTOM: #d5d5d3 1px solid; BORDER-LEFT: #d5d5d3 1px solid; BACKGROUND-COLOR: #f7f7ff; MARGIN: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.cntArticleBody .devdocvsbody P {
	MARGIN-TOP: 0.6em; MARGIN-BOTTOM: 0.6em
}
.cntArticleBody .devdocvsbody PRE {
	MARGIN-TOP: 0.5em; MARGIN-BOTTOM: 0.5em; FONT-SIZE: 1.1em
}
.cntArticleBody .devdocvsbody H1 {
	MARGIN-TOP: 0.4em; MARGIN-BOTTOM: 0.5em; FONT-SIZE: 125%
}
.cntArticleBody .devdocvsbody H2 {
	MARGIN-TOP: 2em; MARGIN-BOTTOM: 0.5em; FONT-SIZE: 110%
}
.cntArticleBody .devdocvsbody H3 {
	MARGIN-TOP: 1.2em; MARGIN-BOTTOM: 0.5em; FONT-SIZE: 100%; FONT-WEIGHT: bold
}
.cntArticleBody .devdocvsbody H4 {
	MARGIN-TOP: 1.2em; FONT-SIZE: 100%; FONT-WEIGHT: bold
}
.cntArticleBody .devdocvsbody H5 {
	MARGIN-TOP: 1.2em; FONT-SIZE: 100%; FONT-WEIGHT: bold
}
.cntArticleBody #lblTOUContent {
	FONT-FAMILY: Tahoma; COLOR: #484848; FONT-SIZE: 1.2em
}
.cntArticleBody #divShowAll {
	TEXT-ALIGN: right; DISPLAY: block
}
.cntArticleBody #divHideAll {
	TEXT-ALIGN: right; DISPLAY: none
}
DIV#mainSection DIV#mainBody {
	LINE-HEIGHT: 13px; BACKGROUND-COLOR: #ffffff; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
DIV#mainSection DIV#mainBody H1 {
	MARGIN-TOP: 0.4em; MARGIN-BOTTOM: 0.5em; FONT-SIZE: 125%
}
DIV#mainSection DIV#mainBody H1.heading {
	MARGIN-TOP: 2em; MARGIN-BOTTOM: 0.5em; FONT-SIZE: 110%
}
DIV#mainSection DIV#mainBody H2 {
	MARGIN-TOP: 2em; MARGIN-BOTTOM: 0.5em; FONT-SIZE: 110%
}
DIV#mainSection DIV#mainBody H3 {
	MARGIN-TOP: 1.2em; MARGIN-BOTTOM: 0.5em; FONT-SIZE: 100%; FONT-WEIGHT: bold
}
DIV#mainSection DIV#mainBody H4 {
	MARGIN-TOP: 1.2em; FONT-SIZE: 100%; FONT-WEIGHT: bold
}
DIV#mainSection DIV#mainBody H5 {
	MARGIN-TOP: 1.2em; FONT-SIZE: 100%; FONT-WEIGHT: bold
}
DIV#mainSection DIV#mainBody P {
	MARGIN-TOP: 0.6em; MARGIN-BOTTOM: 0.6em
}
DIV#mainSection DIV#mainBody PRE {
	MARGIN-TOP: 0.5em; MARGIN-BOTTOM: 0.5em; FONT-SIZE: 1.1em
}
DIV#mainSection DIV#mainBody .tableSection TABLE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN-TOP: 5px; WIDTH: 100%; MARGIN-BOTTOM: 5px; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
DIV#mainSection DIV#mainBody .tableSection TH {
	BORDER-BOTTOM: #c8cdde 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #c8cdde 0px solid; BACKGROUND-COLOR: #efeff7; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #000066
}
DIV#mainSection DIV#mainBody .tableSection TD {
	BORDER-BOTTOM: #d5d5d3 1px solid; BORDER-LEFT: #d5d5d3 0px solid; BACKGROUND-COLOR: #f7f7ff; MARGIN: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
DIV#mainSection DIV#mainBody .code TH {
	BORDER-BOTTOM: #c8cdde 1px solid; TEXT-ALIGN: left; BACKGROUND-COLOR: #efeff7; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #000066
}
